.title{
    font-size: 55px;
    text-align: center;
    margin-top: 18%;
}

.startbut{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin: 0;
    position: relative;
    left: 50%;
    margin-top: 50px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.startbut:hover{
    background-color: antiquewhite;
}