{% extends 'base.html' %}

{% block title %}Q{{num + 1}} {% endblock %}

{% block content %}

<header>{{question}}</header>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p> you are trying to access a restricted question</p>
  {% endif %}
{% endwith %}


<p>
<form action="/questions/{{num+1}}" method="POST">
{% for answer in choices %}

    <input type="radio" name= "ans" value= {{answer}}>{{answer}}<BR>

{% endfor %}
<button class="next">{{button}}</button>

</form>
</p>

{% endblock %}